extends layout
block content
    .row.banner
        .col-12
            h1= title
        .row
            .col-12.col-lg-12
                h2
                |CONTACT INFORMATION
                p
                |21EG107B26 AKSHITA  
                | <br /><br /> 
                |EMAIL: 21eg107b26@anurag.edu.in
                | <br /><br /> 
                |21EG107B28 SAI KIRAN 
                | <br /><br /> 
                |EMAIL: 21eg107b28@anurag.edu.in
                | <br /><br /> 
                |22EG507B03 MANOJ
                | <br /><br />        
                |EMAIL: 22eg507b03@anurag.edu.in